<!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>        
		<p>Copyright &copy; <a href="http://chrisbennett.co">Chris Bennett</a> |
		<a href="https://sites.google.com/site/9chrisbennett/">My Other Site</a> |
</p>

      </footer>

    </div><!-- /.container -->
</body>
