	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"> </span>
					<span class="icon-bar"> </span>
					<span class="icon-bar"> </span>
				</button>
				<a class="navbar-brand" href="http://elvenware.com">Elvenware</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/charlie/index.html">Home</a></li>
					<li><a href="/charlie/contents.html">About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Core Code</li>
							<li><a href="/charlie/development/index.html">Strongly Typed</a></li>
							<li><a href="/charlie/development/web/index.html">Web &amp; Scripts</a></li>
							<li><a href="/charlie/development/cloud/index.shtml">Cloud</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">OS and Tools</li>
							<li><a href="/charlie/os/index.html">OS</a></li>
							<li><a href="/charlie/development/database/index.html">Database</a></li>
							<li><a href="/charlie/books/index.html">My Writing</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Art</li>
							<li><a href="/charlie/Art/index.html">Poems &amp; Photos</a></li>
							<li><a href="/charlie/books/reading/index.html">Book Reviews</a></li>
							<li><a href="/charlie/spirit/index.html">Spiritual</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Links</li>
							<li><a href="/charlie/links.html">My Links</a></li>
							<li><a href="http://www.github.com/charliecalvert">GitHub</a></li>
							<li><a href="http://sourceforge.net/projects/elvenware/">Sourceforge</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">

		<div class="starter-template">
			<figure><img alt="Elvenware" src="Images/elvenwarelogo.png" /></figure>
