body {
	background-color: #00AAAA;
}

#allPoems div {
	background-color: #007777;
}

#divButtons
{
	text-align: center;
}

label
{
	font-weight: bold;
}

#allPoems div:hover {
	background-color: blue;
	cursor: pointer;
}

#showPoem {
	vertical-align: top;
	background-color: #00cccc;
	border: 2px solid blue;
}

#showPoem p {
	border: 1px solid black
}

#divPoemList {
	width: 200px;
	height: 400px;
	overflow: scroll;
}
