body {
	background-color: #00AAAA;
}

#divShowAddress {
	padding: 2em;
	border: 2px solid black;
	margin: 1em;
	display: inline-block;
	background-color: #007777;
}

#divShowAddress p {
	border: 1px solid black;
	background-color: #dd7777;
	padding: .5em;
}
